@model Veterinaria.Models.tbl_cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nombre_c)*@
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_c)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.apellido_c)*@
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_c)
        </dd>

        <dt>
            @*     @Html.DisplayNameFor(model => model.fechaNacimiento_c)*@
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento_c)
        </dd>

        <dt>
            Edad
            @*@Html.DisplayNameFor(model => model.edad_c)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad_c)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.id_c },new { @class = "btn btn-sm btn-success" }) |
    @Html.ActionLink("Volver a la lista", "Index", new { area = "" }, new { @class = "btn btn-sm btn-secondary" })
</p>
